# Files with secrets
.config/gh/hosts.yml
.config/exercism/user.json

# Non-configuration files
.config/raycast/
.config/op/config
.config/configstore/update-notifier-npm-check*.json

# Default configuration files
.config/neofetch/config.conf
.config/fish/completions
