# Files with secrets
.config/gh/hosts.yml
.config/exercism/user.json

# Non-configuration files
.config/raycast/
.config/op/config

# Default configuration files
.config/neofetch/config.conf
.config/thefuck/
