<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>disableloginwithemail</key>
		<true/>
		<key>nofacebook</key>
		<true/>
		<key>nogoogle</key>
		<true/>
		<key>PackageRecommend</key>
		<dict>
			<key>ConfirmWhenLeave</key>
			<false/>
			<key>EnableSSLVerification</key>
			<true/>
			<key>MuteVoipWhenJoin</key>
			<true/>
			<key>recordpath</key>
			<string>$HOME/Downloads</string>
			<key>ShowConnectedTime</key>
			<true/>
			<key>ZAutoFullScreenWhenViewShare</key>
			<false/>
			<key>ZAutoJoinVoip</key>
			<true/>
			<key>ZDisableVideo</key>
			<true/>
		</dict>
		<key>ZAutoSSOLogin</key>
		<true/>
		<key>ZSSOHost</key>
		<string>github.zoom.us</string>
	</dict>
</plist>
